html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}
.element {
  width: 100%;
  height: 100%;
  animation: pulse 3s;
}
@keyframes pulse {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  line-height: 800px;
}
h2 {
  color: black;
}
h3 {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  line-height: 450px;
}
h4 {
  color: white;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  line-height: 450px;
}
div#box0 {
	background-color: #04417a;
  width: 100%;
  height: 100%;
}
div#box1 {
	background-color: #424451;
  width: 100%;
  height: 0%;
}
div#box2 {
  background-color: #649ca9;
  width: 0%;
  height: 100%;
}
div#box3 {
  background-color: #b8596f;
  width: 100%;
  height: 0%;
}
div#box4 {
  background-color: #164fb6;
  width: 0%;
  height: 50%;
}
.hide1 {
  display: none;
}
.hide2{
  float: right;
  display: inline-block;
}
.hide3 {
  display: none;
}
div {
  float: left;
}
@media (max-width: 739px) {
  h1 {
    font-size: 1.5rem;
    line-height: 800px;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 400px;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 200px;
  }
  div#box1, div#box2, div#box3, div#box4 {
    width: 100%;
  }
  div#box1 {
    background-color: #424451;
    height: 100%;
  }
  div#box2 {
    background-color: #649ca9;
    height: 0%;
  }
  div#box3 {
    background-color: #b8596f;
    height: 0%;
  }
  div#box4 {
    background-color: #164fb6;
    height: 0%;
  }
  .hide2 {
    display: none;
  }
  .hide1 {
    display: inline;
    margin-left: 40%;
  }
  .hide3 {
    display: none;
  }
}
